<!-- ====== COMMENT FORM ====== -->
<div class="row"></div>
<div class="row"></div>
<div class="container">
  <div class="row">
    <div class="col s8 m8 offset-m2 center-align">
      <form method="POST" action="/comments" class="well">
        <div class="form-group">
          <label for="your-review"><i class="material-icons prefix">mode_edit</i></label>
          <input type="hidden" name="truck_id" value="{{ monsterTruck.truckDeets.id }}">
          <input type="hidden" name="business_id" value="{{ monsterTruck.truckDeets.business_id }}">
          <textarea name="review" rows="8" cols="80" wrap="soft" type="textarea" class="form-control comments col s10 offset-s1" id="review" value= "{{ monsterTruck.commentDeets.review}}" ></textarea>
        </div>
        <div class="row"></div>
        <button type="submit" class="btn btn-defaul center-align">Share Your Thoughts</button>
      </form>
    </div>
  </div>
</div>
