<!-- ====== COMMENT FORM ====== -->
<div class="container">
  <form method="POST" action="/comments/{{#if truck.id }}{{ truck.id }}?_method=PUT{{/if}}" class="well">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="your-review">Your Review</label>
          <input type="text" class="form-control" id="review-body" value= "{{ comments.review}}" name="review-body">
        </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
