<nav>
  <div class="nav-wrapper">
    <img class="home_logo responsive-img" src="/images/logo.png" alt="">
    <span>B Y O F</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/trucks">Trucks</a></li>
      <li><a href="/bars">Bars</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/users">Register</a></li>
    </ul>
  </div>
</nav>
