<nav>
  <div class="nav-wrapper">
    <a href="/"><img class="home_logo responsive-img" src="/images/logo.png" alt="">
      <span>B Y O F</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/trucks">TRUCKS</a></li>
        <li><a href="/bars">BARS</a></li>
        <li><a href="/favorites">FAVORITES</a></li>
        <li><a href="/login">REGISTER</a></li>
        <li><a href="/login">LOGIN</a></li>
      </ul>
  </div>
</nav>
<form method="GET" action="/session/logout" class="right log-out-button"><input type="submit" name="userId" class="btn center-align" value="logout"></input></form>
