<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">BYOF</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/trucks">Trucks</a></li>
      <li><a href="/bars">Bars</a></li>
    </ul>
  </div>
</nav>
