<div class="container">
<div class="row"></div>
<div class="row"></div>
<div class="col m6 center-align">
</div>
<div class="row">
<div class="col s12 m5 center-align">
  <h4>your favorite food truck</h4>
  <div class="card z-depth-5">
    <div class="card-image ">
      <a href="/trucks"class="black-text"><img src="images/foodtruckindexpage.webp" class="hover-fun responsive-img">
      </div>
      <div class="card-action">Where To Eat</a>
      </div>
    </div>
  </div>
  <div class="col s12 m5 offset-m2 center-align">
    <h4>meets your favorite bar</h4>
    <div class="card z-depth-5">
      <div class="card-image">
        <a href="/bars" class="black-text"><img class="hover-fun responsive-img" src="images/BeerMugs.jpg">
        </div>
        <div class="card-action">Where To Drink</a>
        </div>
      </div>
    </div>
  </div>
</div>
