<div class="container">
<div class="row"></div>
<div class="row"></div>
<div class="col m6 center-align">
  <h3>When Your Favorite Food Truck Meets Your Favorite Bar</h3>
</div>
  <div class="row">
       <div class="col s12 m5">
         <div class="card">
           <div class="card-image">
             <a href="/trucks"class="black-text"><img class="home-page" src="images/foodtruckindexpage.webp" class="responsive-img">
           </div>
           <div class="card-action">Where To Eat</a>
           </div>
         </div>
       </div>
        <div class="col s12 m5 offset-m2">
          <div class="card">
            <div class="card-image">
              <a href="/bars" class="black-text"><img class="beer-img responsive-img" src="images/BeerMugs.jpg">
            </div>
            <div class="card-action">Where To Drink</a>
            </div>
          </div>
        </div>
  </div>
</div>
