<h3>index page</h3>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="truck-image" class="activator" src="images/foodtruck2.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Food Trucks<i class="material-icons right">more_vert</i></span>
        <p><a href="trucks">All Trucks</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Food Trucks<i class="material-icons right">more_vert</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="truck-image" class="activator" src="images/food.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">BYOF Places<i class="material-icons right"></i></span>
        <p><a href="bars">All Places</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">BYOF Places<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

</div>
