<form method="POST" action="/users">
  <div class="form-group">
    <label for="user_name">user name</label>
    <input type="text" class="form-control" id="user_name" placeholder="username" name="user_name">
  </div>
  <div class="form-group">
    <label for="user_pic">avatar</label>
    <input type="text" class="form-control" id="user_pic" placeholder="your avatar URL" name="user_pic">
  </div>
  <div class="form-group">
    <label for="user_email">email</label>
    <input type="email" class="form-control" id="user_email" placeholder="email@email.com" name="user_email">
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" class="form-control" id="user_password" placeholder="thisSh0ulDn0tb3uRPW!" name="user_password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
