<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
  <!-- <h1>Get All Trucks Page</h1>
  {{#each trucks}}
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <p>Name: {{ this.name }}</p>
    </div>
  </div>
  {{/each}} -->
</div>
