body {
  padding: 50px;
  font: 14px Arial, sans-serif;
  letter-spacing: 0.16rem;
}

nav {
  background-color: #5c6bc0;
  width: 100%;
  font-size: 16px;

}

a {
  color: #fff;
}

.home_logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
  margin-left: 20px;
}

input {
  text-align: left;

}

input[type=text] {
  border:  1px solid #9e9e9e;
  height: 10rem;
}

.pic-box{
    width:300px;
    max-height:300px;
    /*background:#00f;*/
    position:relative;
}

.pic_box > img {
    transition: opacity .5s, transform .5s;
}
.pic_box:hover > img {
    opacity: .5;
    transform: scale(1.1) rotate(360deg);
}

.lower {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    padding:10px 0;
    text-indent:5px;
    background:rgba(0,0,0,.7);
}

.show{
    display: none;
    /*height:100%;
    width:100%;*/
    color:#000;
    text-indent:5px;
    background:rgba(255,255,255,.5);
}
