body {
  padding: 50px;
  font: 14px Arial, sans-serif;
}

nav {
  background-color: #5c6bc0;
  width: 100%;
  font-size: 15px;

}

.home_logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
  margin-left: 20px;
}
